extends ../layouts/cpidefault
block css


    center
      .main-container
        .header-container
          header CPI analysis and calculator
        nav.navbar.navbar-expand-lg.navbar-dark.sticky-top(style='background-color : #1b567e;')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarTogglerDemo01.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
              li.nav-item.link2.active(onclick='changeActiveLink(2)')
                a.nav-link(href='#emc') EXPECTED MARKS CALCULATOR
              li.nav-item.link1(onclick='changeActiveLink(1)')
                a.nav-link(href='#qcc') QUICK CGPA CALCULATOR
              li.nav-item.link3(onclick='changeActiveLink(3)')
                a.nav-link(href='#ascc') ANY SEM CGPA CALCULATOR
              li.nav-item.link4(onclick='changeActiveLink(4)')
                a.nav-link(href='#gc') GPA CALCULATOR
        .container-fluid
          .row
            #emc.col-sm-12.col-md-12.col-lg-6.marks-predictor(align='left')
              .card-container
                //- a.badge.badge-danger.float-right(href='#emc') NEW
                h1 Compute Expected Marks
                hr
                form
                  .form-group.row
                    label.col-sm-6.col-form-label(for='cat1') Marks in CT 1 : 
                    .input-group.col
                      input#cat1.form-control(type='text', placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 15 
                  .form-group.row
                    label.col-sm-6.col-form-label(for='cat2') Marks in CT 2 : 
                    .input-group.col
                      input#cat2.form-control(type='text', placeholder='Your score in CAT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 15 
                  .form-group.row
                    label.col-sm-6.col-form-label(for='da') Marks in EndSem : 
                    .input-group.col
                      input#da.form-control(type='text', placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 70 
                  //- .form-group.row
                  //-   label.col-sm-6.col-form-label(for='lab') Marks in Lab : 
                  //-   .input-group.col
                  //-     input#lab.form-control(type='text', placeholder='Your score in Lab', aria-label='Marks Input', aria-describedby='basic-addon')
                  //-     .input-group-append
                  //-       span#basic-addon.input-group-text  max 100 
                  //- .form-group.row
                  //-   label.col-sm-6.col-form-label(for='j-comp') Marks in J Component : 
                  //-   .input-group.col
                  //-     input#j-comp.form-control(type='text', placeholder='Your score in Project', aria-label='Marks Input', aria-describedby='basic-addon')
                  //-     .input-group-append
                  //-       span#basic-addon.input-group-text max 100 
                  .form-group.row
                    label.col-sm-6.col-form-label(for='fat') Expected Marks in TA :
                    .input-group.col
                      input#fat.form-control(type='text', placeholder='Say 16', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text max 20 
                  .alert.alert-primary.text-center.text-uppercase.alert-marks(role='alert')
                    b
                      span#marks
                  .form-group.row
                    .col-sm-12
                      button.btn.btn-primary.float-right(type='button', onclick='getMarks()') Submit
                      //- small#projHelp.form-text.text-danger *If the course doesn't have J-Component/L-Component you can leave it empty.
            // This semester cgpa calculator
            #qcc.col-sm-12.col-md-12.col-lg-6.quick-cgpa-calculator
              .card-container
                section#cgpa-box.cgpa-box
                  center
                    h1 Quick CPI Calculator
                    hr
                    div
                      .input-group.col-sm-8
                        input#tc.form-control.cgpa-input(onkeyup="currentsem()" type='number', maxlength='2', placeholder='Last semester?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text 1,2,3... 
                      br
                      .input-group.col-sm-8
                        input#cgpa.form-control.cgpa-input( type='number', max='10', placeholder='CPI till last Sem?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text Max 10
                      br
                      .input-group.col-sm-8
                        input#c.form-control.cgpa-input(type='number', max='10', placeholder='SPI in this semester', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text Current SPI
                      br
                      .input-group.col-sm-8
                        input#gpa.form-control.cgpa-input(  readonly type='text', maxlength='4', placeholder='This semester ?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text obvilously +1 then previous 
                      br
                      .alert.alert-primary.text-center.text-uppercase.alert-cgpa-msg(role='alert')
                        b
                          span#cgpa-msg.cgpa-msg
                      button#submit.btn.btn-primary.float-right Submit

                br
                small#projHelp.form-text.text-danger *we keep in mind that 1st and 2nd semester weihtage is 50%

                br
            #ascc.col-sm-12.col-md-6.col-lg-6.n-sem-cgpa-calculator
              .card-container
                h1.card-title Calculate your CGPA for any number of Semesters
                hr
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 1st Sem
                  input#gpa1.form-control.fgpa(type='text', name='fgpa1', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc1.form-control.fcredits(type='text', name='fcredit1', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 2nd Sem
                  input#gpa2.form-control.fgpa(type='text', name='fgpa2', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc2.form-control.fcredits(type='text', name='fcredit2', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 3rd Sem
                  input#gpa3.form-control.fgpa(type='text', name='fgpa3', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc3.form-control.fcredits(type='text', name='fcredit3', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 4th Sem
                  input#gpa4.form-control.fgpa(type='text', name='fgpa4', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc4.form-control.fcredits(type='text', name='fcredit4', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 5th Sem
                  input#gpa5.form-control.fgpa(type='text', name='fgpa5', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc5.form-control.fcredits(type='text', name='fcredit5', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 6th Sem
                  input#gpa6.form-control.fgpa(type='text', name='fgpa6', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc6.form-control.fcredits(type='text', name='fcredit6', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 7th Sem
                  input#gpa7.form-control.fgpa(type='text', name='fgpa7', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc7.form-control.fcredits(type='text', name='fcredit7', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 8th Sem
                  input#gpa8.form-control.fgpa(type='text', name='fgpa8', placeholder='GPA', aria-describedby='basic-addon')
                  input#fc8.form-control.fcredits(type='text', name='fcredit8', placeholder='CREDITS')
                br
                .alert.alert-primary.text-center.text-uppercase.alert-fcgpa(role='alert')
                  b
                    span#fcgpa.text-info
                button#sem-cgpa-btn.btn.btn-primary.float-right Submit
                br
                br
            #gc.col-sm-12.col-md-12.col-lg-6.gpa-calculator
              .card-container
                h1.card-title Calculate GPA
                hr
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g1.form-control(name='grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c1.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g2.form-control(name='grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c2.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g3.form-control(name='grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c3.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g4.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c4.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g5.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c5.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g6.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c6.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                  br
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g7.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c7.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    |  class="form-control"
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g8.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c8.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g9.form-control(name='Grade')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c9.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text Course 
                  select#g10.form-control(name='Grades')
                    option(value='0') Grade
                    option(value='10') S
                    option(value='9') A
                    option(value='8') B
                    option(value='7') C
                    option(value='6') D
                    option(value='5') E
                    option(value='0') F
                    option(value='0') N
                  select#c10.form-control(name='credits')
                    option#c0(value='0') Credits
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                  section
                br
                br
                .alert.alert-primary.alert-grades(role='alert')
                  b
                    span#grades.text-info
                button#gbtn.gbtn.btn.btn-primary.float-right Submit
                br
                br
        // script for year in footer
        script.
          var d = new Date();
          //   document.getElementById('thisYear').innerHTML = d.getFullYear();
          // main script file
        //-   script(language='javascript', type='text/javascript', src='js/calculator.js')
        script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
        script(src='/js/cpi.js')
