extends ../layouts/cpidefault
block css


    center
      .main-container
        .header-container
          header CPI analysis and calculator (old convention before 2021 Batch)
        nav.navbar.navbar-expand-lg.navbar-dark.sticky-top(style='background-color : #1b567e;')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarTogglerDemo01.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
              li.nav-item.link2.active(onclick='changeActiveLink(2)')
                a.nav-link(href='#emc') EXPECTED MARKS CALCULATOR
              li.nav-item.link1(onclick='changeActiveLink(1)')
                a.nav-link(href='#qcc') QUICK CGPA CALCULATOR
              li.nav-item.link3(onclick='changeActiveLink(3)')
                a.nav-link(href='#ascc') ANY SEM CGPA CALCULATOR
              li.nav-item.link4(onclick='changeActiveLink(4)')
                a.nav-link(href='#gc') GPA CALCULATOR
        .container-fluid
          .row
            #emc.col-sm-12.col-md-12.col-lg-6.marks-predictor(align='left')
              .card-container
                h1 Compute Expected Marks
                hr
                form
                  .form-group.row
                    label.col-sm-6.col-form-label(for='cat1') Marks in CT 1 : 
                    .input-group.col.col-sm-6
                      input#cat1.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 15 
                  .form-group.row
                    label.col-sm-6.col-form-label(for='cat2') Marks in CT 2 : 
                    .input-group.col.col-sm-6
                      input#cat2.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 15 
                  .form-group.row
                    label.col-sm-6.col-form-label(for='da') Marks in End Semester : 
                    .input-group.col.col-sm-6
                      input#da.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   max 70 
     
                  h5 Submitted Assignements
                  input#f1ass(onclick="att()",type="checkbox", name="ass", value="1") 

                  br                  
                  h3 Percentage Attendence
                  input#f1abb1(onclick="att()",type="radio", name="att", value="1")
                  | between 88 and 100%
                  br
                  input#f1abb2(onclick="att()",type="radio", name="att", value="2", )
                  | between 76% and 88%
                  br
                  input#f1abb3(onclick="att()",type="radio", name="att", value="3",checked )
                  | between 64% and 76%
                  br
                  input#f1abb4(onclick="att()",type="radio", name="att", value="4", )
                  | between 50% and 64%
                  br
                  input#f1abb5(onclick="att()",type="radio", name="att", value="5", )
                  | less then 50%
                  br
                  .alert.alert-primary.text-center.text-uppercase.alert-marks(role='alert')
                    b
                      span#marks
                      br
                      span#pointerform1
                      br
                      span#rangeform1

                  .form-group.row
                    .col-sm-12
                      button.btn.btn-primary.float-right(type='button', onclick='getMarks()') Submit
                      //- small#projHelp.form-text.text-danger *If the course doesn't have J-Component/L-Component you can leave it empty.
            // This semester cgpa calculator
            #qcc.col-sm-12.col-md-12.col-lg-6.quick-cgpa-calculator
              .card-container
                section#cgpa-box.cgpa-box
                  center
                    h1 Quick CPI Calculator
                    hr
                    div
                      .input-group.col-sm-8
                        input#tc.form-control.cgpa-input(onkeyup="currentsem()" type='number', maxlength='2', placeholder='Last semester?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text 1,2,3... 
                      br
                      .input-group.col-sm-8
                        input#cgpa.form-control.cgpa-input( type='number',step="0.01", max='10', placeholder='CPI till last Sem?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text Max 10
                      br
                      .input-group.col-sm-8
                        input#c.form-control.cgpa-input(type='number', step="0.01",max='10', placeholder='SPI in this semester', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text Current SPI
                      br
                      .input-group.col-sm-8
                        input#gpa.form-control.cgpa-input(  readonly type='text', maxlength='4', placeholder='This semester ?', aria-label='Marks Input', aria-describedby='basic-addon')
                        .input-group-append
                          span#basic-addon.input-group-text obvilously +1 then previous 
                      br
                      .alert.alert-primary.text-center.text-uppercase.alert-cgpa-msg(role='alert')
                        b
                          span#cgpa-msg.cgpa-msg
                      button#submit.btn.btn-primary.float-right Submit

                br
                small#projHelp.form-text.text-danger *We keep in mind that 1st and 2nd semester weightage is 50%
                p Quickly calculate your latest CPI 
                p using your last Sem CPI
                p and latest SPI
                br
            #ascc.col-sm-12.col-md-6.col-lg-6.n-sem-cgpa-calculator
              .card-container
                h1.card-title Calculate your CPI for any number of Semesters
                small#projHelp.form-text.text-warning *We keep in mind that 1st and 2nd semester weightage is 50%
                <br>
                small#projHelp.form-text.text-warning *leave blank if not applicable

                hr
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 1st Sem
                  input#gpa1.form-control.fgpa(type='number',max="10",min="0",step="0.01", name='fgpa1', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc1.form-control.fcredits(type='text', name='fcredit1', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 2nd Sem
                  input#gpa2.form-control.fgpa(type='text',max="10",min="0",step="0.01",  name='fgpa2', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc2.form-control.fcredits(type='text', name='fcredit2', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 3rd Sem
                  input#gpa3.form-control.fgpa(type='number', max="10",min="0",step="0.01", name='fgpa3', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc3.form-control.fcredits(type='text', name='fcredit3', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 4th Sem
                  input#gpa4.form-control.fgpa(type='number', max="10",min="0",step="0.01", name='fgpa4', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc4.form-control.fcredits(type='text', name='fcredit4', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 5th Sem
                  input#gpa5.form-control.fgpa(type='number',max="10",min="0",step="0.01",  name='fgpa5', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc5.form-control.fcredits(type='text', name='fcredit5', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 6th Sem
                  input#gpa6.form-control.fgpa(type='number', max="10",min="0",step="0.01", name='fgpa6', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc6.form-control.fcredits(type='text', name='fcredit6', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 7th Sem
                  input#gpa7.form-control.fgpa(type='number', max="10",min="0",step="0.01", name='fgpa7', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc7.form-control.fcredits(type='text', name='fcredit7', placeholder='CREDITS')
                br
                .input-group.col-sm-8
                  .input-group-prepend
                    span#basic-addon.input-group-text 8th Sem
                  input#gpa8.form-control.fgpa(type='number', max="10",min="0",step="0.01", name='fgpa8', placeholder='SPI', aria-describedby='basic-addon')
                  //- input#fc8.form-control.fcredits(type='text', name='fcredit8', placeholder='CREDITS')
                br
                .alert.alert-primary.text-center.text-uppercase.alert-fcgpa(role='alert')
                  b
                    span#fcgpa.text-info
                button#sem-cgpa-btn.btn.btn-primary.float-right Submit
                br
                br
            #gc.col-sm-12.col-md-12.col-lg-6.gpa-calculator
              .card-container
                h1.card-title Calculate SPI
                hr
                input#br1(onclick="branch()",type="radio", name="branch", value="1", checked)
                | 1st Sem: Mech, Meta, Civil, Min, CSE 
                br
                | 2nd Sem: Electronics, Electrical, Bio-Tech, Bio-Med, Chem, IT
                br
                br
                
                input#br2(onclick="branch()",type="radio", name="branch", value="0", )
                | 1st Sem: Electronics, Electrical, Bio-Tech, Bio-Med, Chem, IT
                br
                | 2nd Sem: Mech, Meta, Civil, Min, CSE
                br
                br
                .form-group.row
                    label#s1l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s1l1.col-form-label(for='') Marks in CT 1 : 


                    
                        
                    .input-group.row
                      input#s1c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s1c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s1e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s1a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s1t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120
                br
                .form-group.row
                    label#s2l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s2l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      
                    .input-group.row
                      input#s2c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s2c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s2e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s2a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s2t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120
                br
                .form-group.row
                    label#s3l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s3l1.col-form-label(for='') Marks in CT 1 : 
                      
                      
                    .input-group.row
                      input#s3c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s3c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s3e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s3a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s3t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120                                                
                br.
                .form-group.row
                    label#s4l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s4l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      br
                    .input-group.row
                      input#s4c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s4c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s4e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s4a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s4t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120
                br
                .form-group.row
                    label#s5l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s5l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      br
                    .input-group.row
                      input#s5c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s5c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s5e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s5a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s5t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120 
                br
                .form-group.row
                    label#s6l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s6l1.col-form-label(for='') Marks in CT 1 : 
                     
                      br
                      br
                    .input-group.row
                      input#s6c1.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 1', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s6c2.col-sm-4.form-control(type='number',step="0.5",max="15",min="0", placeholder='Your score in CT 2', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s6e.col-sm-4.form-control(type='number',step="0.5",max="70",min="0", placeholder='Your score in EndSem', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s6a.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s6t.col-sm-4.form-control(type='number',max="20",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 120 

                br
                .form-group.row
                    label#s7l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s7l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      br
                    .input-group.row
                      input#s7c1.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in Practicals', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s7c2.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s7t.col-sm-4.form-control(type='number',max="50",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 50     
                .form-group.row
                    label#s8l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s8l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      br
                    .input-group.row
                      input#s8c1.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in Practicals', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s8c2.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s8t.col-sm-4.form-control(type='number',max="50",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 50     

                br
                .form-group.row
                    label#s9l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s9l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      br
                    .input-group.row
                      input#s9c1.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in Practicals', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s9c2.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s9t.col-sm-4.form-control(type='number',max="50",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 50     
                br
                .form-group.row
                    label#s10l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s10l1.col-form-label(for='') Marks in CT 1 : 
                      br
                      br
                      
                    .input-group.row
                      input#s10c1.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in Practicals', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s10c2.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s10t.col-sm-4.form-control(type='number',max="50",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 50     
                br
                .form-group.row
                    label#s11l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s11l1.col-form-label(for='') Marks in CT 1 : 
                      br
                      br
                      
                    .input-group.row
                      input#s11c1.col-sm-4.form-control(type='number',step="0.5",max="20",min="0", placeholder='Your score in Practicals', aria-label='Marks Input', aria-describedby='basic-addon')
                      input#s11c2.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Or enter total marks in subject  
                      input#s11t.col-sm-4.form-control(type='number',max="50",min="0", placeholder='Total marks', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text   Total max 50   
                br
                .form-group.row
                    label#s12l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s12l1.col-form-label(for='') Marks in CT 1 : 
                      br
                      br
                      
                    .input-group.row
                      input#s12t.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text                                                                                 
                br
                #sl13s.form-group.row
                    label#s13l.col-sm-4.col-form-label(for='') Marks in CT 1 : 
                    label#s13l1.col-form-label(for='') Marks in CT 1 : 
                      
                      br
                      
                    .input-group.row
                      input#s13t.col-sm-4.form-control(type='number',step="0.5",max="30",min="0", placeholder='Your score in TA', aria-label='Marks Input', aria-describedby='basic-addon')
                      .input-group-append
                        span#basic-addon.input-group-text                                                                                 

               
                br
                br
                table#myTable 
                  tbody

                .alert.alert-primary.alert-grades(role='alert')
                  b
                    span#grades.text-info
                    span#gradespointer.text-info
                button#gbtn.gbtn.btn.btn-primary.float-right Submit
                br
                br
        // script for year in footer
        script.
          var d = new Date();
          //   document.getElementById('thisYear').innerHTML = d.getFullYear();
          // main script file
        //-   script(language='javascript', type='text/javascript', src='js/calculator.js')
        script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
        script(src='/js/data.js')
        script(src='/js/cpi.js')
