extends ../layouts/default

block content
    #quiz
        h1.text-center#title
        #questions
        .text-center
            button#submit.btn.btn-primary.mt-5 Submit
    script(src="/js/quiz/quiz_detail.js")