extends ../layouts/default

block content
    #quiz
        h1.text-center#title
        p#demo 0
        //- button(onclick="clock(); document.getElementById('demo').innerHTML='0';") Start Timer
        button(onclick='clearInterval(myTimer);') Stop Timer



        #questions
        .text-center
            button#submit.btn.btn-primary.mt-5 Submit
    script(src="/js/quiz/quiz_detail.js")