extends ../layouts/default


block content
    #quiz
        h1.text-center this is title
        //- button(onclick="clock(); document.getElementById('demo').innerHTML='0';") Start Timer
        //- button(onclick='clearInterval(myTimer);') Stop Timer
    #videos
        // Selector by Id
        //- #unix(data-ycp_title='#Demo - Bachors.com', data-ycp_channel='UC4rasfm9J-X4jNl9SvXp8xA')
        // By ChannelId
        // Selector by ClassName
        .demo(data-ycp_title='#Javascript - Sekolah Koding', data-ycp_channel='PLMC9KNkIncKvYin_USF1qoJQnIyMAfRxl')
        // By PlayListId
        //- .demo(data-ycp_title='#News - Vevo Uk', data-ycp_channel='Ct6BUPvE2sM')
        // By UserName
    #menuVideos
   
    h1 Pure CSS Drop Down Menu
    p
        | A simple dropdown navigation menu made with CSS Only. Dropdowns are marked with a plus sign ( + )
    p
        | Read tutorial 
        a(target='_blank', href='http://webdesignerhut.com/css-dropdown-menu/') here

    #quiz
        h1.text-center this is title        
        h1.text-center this is title        
        h1.text-center this is title        
        //- #questions
        //- .text-center
        //- button#submit.btn.btn-primary.mt-5 Submit
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')

    script(src="/js/ycp.js")
    script(src="/js/videoCourses.js")
